
 {{!-- about us start --}}
 <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
<h1 class="text-center main-heading">About Us</h1>
<p class="text-center sub-heading">grow your business with us</p>
<div class="row">
    <div class="col-md-6 col-12 hero-text">
        <figure>
            <img src="images/about.svg" alt="Herosection_image" >
        </figure>
    </div>
    
    {{!-- right side --}}
    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
       <h1>WE ARE THE PROFESSIONAL DEVELOPER 🤞🏻</h1>
       <p>We Are The Team Of <span class="bold-style">technical_SM </span>
       which is all about creativity and innovative work in the field of Technology.
We provide web development courses videos, MCS important videos and technology videos and articles. 
       </p>
<button class="btn-style btn-primary">Read more</button>
    </div>
</div>
        </div>
    </div>
 </div>